*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Inter", "arial", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  line-height: 1.7;
  color: hsl(0, 0%, 100%);
  text-rendering: optimizeLegibility;
}

body {
  box-sizing: border-box;
  background-color: hsl(233, 47%, 7%);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(244, 38%, 16%);
  height: 425px;
  width: 1200px;
  display: flex;
  border-radius: 10px;
}

.card__left {
  height: 425px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__right {
  height: 425px;
  width: 600px;
  background-image: linear-gradient(
      0deg,
      rgba(148, 13, 233, 0.5),
      rgba(148, 13, 233, 0.5)
    ),
    url("./images/image-header-desktop.jpg");
  background-size: cover;
}

h1,
.stat-heading {
  font-weight: 700;
  font-size: 30px;
  color: hsl(0, 0%, 100%);
}

h1 {
  padding: 0 70px;
}

h2 {
  font-weight: 400;
  font-size: 15px;
  padding: 10px 70px;
  margin-top: 10px;
}

h2,
p {
  color: hsla(0, 0%, 100%, 0.75);
}

.insights {
  color: hsl(277, 64%, 61%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
